* {
	box-sizing: border-box;
}

body {
	justify-self: center;
	background-color: #EAEFF1;
	font-family: 'space mono';
	margin: 0px;
}

.blue-box {
	justify-content: center;
	width: 375px;
	height: 100px;
	background-color: #68BDDC;
	position: fixed;
	top: -8px;
	z-index: 1000;
}

.jon-headshot-nav {
	width: 18%;
	position: relative;
	left: 90px;
	top: 10px;
}

.nav-jonathan {
	margin: 10px;
	width: 150px;
	text-align: center;
	position: relative;
	left: 115px;
	top: -40px;
}

.nav-bar-text {
	list-style: none;
	display: flex;
	position: relative;
	top: -60px;
	left: -30px;
}


.nav-bar-text li {
	flex: 1 1 calc(33.33% - 50px);
	text-align: center;
	font-size: 16px;
	font-family: 'space grotesk';
	color: #4D4F52;

}

.line-nav {
	border-top: 1px solid #000;
	width: 350px;
	position: relative;
	left: 10px;
	top: -8px;

}

.dot-nav-about {
	width: 8px;
	height: 8px;
	background-color: black;
	border-radius: 50%;
	position: relative;
	top: -13px;
	left: 64px;
}

a:link {
	text-decoration: none;
}

.nav-bar-text li a:visited {
	color: #4D4F52;
}

.nav-bar-text li a.active {
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

.linkedin a:visited {
	color: black;
}

.github a:visited {
	color: black;
}

.short-resume a:visited {
	color: black;
}

.long-cv a:visited {
	color: black;
}

.jon-headshot-links {
	width: 100%;
	position: relative;
	top: 130px;
	left: 30px;
}

.external-links {
	display: flex;
	align-items: center;
	max-width: 300px;
}

.all-links {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	left: -200px;
	top: 200px;
}

.resume-container:hover .line-resume,
.resume-container:hover .short-resume {
	border-width: 2px;
}

.resume-container:hover .line-resume::after {
	opacity: 1;
}

.resume-container {
	position: relative;
	width: 150px;
	top: -210px;
	left: -25px;
}

.resume-container p {
	transition: font-weight 0.3s;
}

.resume-container p:hover {
	font-weight: bold;
	text-decoration: underline;
}

.short-resume {
	font-size: 16px;
	position: relative;
	top: -65px;
	left: -50px;

}

.line-resume {
	border-top: 1px solid #000;
	width: 50px;
	position: relative;
	transform: rotate(45deg);
	top: -3px;
	border-width: 0.3s;
}


.line-resume:hover {
	border-width: 2px;
}

.line-resume::after {
	content: '';
	position: absolute;
	top: -6px;
	left: -10px;
	transform: rotate(180deg);
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid #000;
	transition: border-left 0.3s;
	opacity: 0;
}

.cv-container:hover .line-cv,
.cv-container:hover .long-cv {
	border-width: 2px;
}

.cv-container:hover .line-cv::after {
	opacity: 1;
}

.cv-container {
	width: 60px;
	position: relative;
	top: -210px;
	left: 160px;
}

.cv-container p {
	transition: font-weight 0.3s;
}

.cv-container p:hover {
	font-weight: bold;
	text-decoration: underline;
}

.long-cv {
	width: 80px;
	font-size: 16px;
	position: relative;
}

.line-cv {
	border-top: 1px solid #000;
	width: 50px;
	position: relative;
	transform: rotate(-45deg);
	top: 60px;
	left: -20px;
}

.line-cv::after {
	content: '';
	position: absolute;
	top: -6px;
	left: 44px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid #000;
	transition: border-left 0.3s;
	opacity: 0;
}

.github-container:hover .line-github,
.github-container:hover .github {
	border-width: 2px;
}

.github-container:hover .line-github::after {
	opacity: 1;
}

.github-container {
	position: relative;
	width: 100px;
	top: 55px;
	left: -10px;
}

.github-container p {
	transition: font-weight 0.3s;
}

.github-container p:hover {
	font-weight: bold;
	text-decoration: underline;
}

.github {
	position: relative;
	font-size: 16px;
	left: -30px;
}

.line-github {
	border-top: 1px solid #000;
	width: 50px;
	position: relative;
	left: -8px;
	top: -4px;
	transform: rotate(-45deg);
}

.line-github::after {
	content: '';
	position: absolute;
	top: -6px;
	left: -10px;
	transform: rotate(180deg);
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid #000;
	transition: border-left 0.3s;
	opacity: 0;
}

.linkedin-container:hover .line-linkedin,
.linkedin-container:hover .linkedin {
	border-width: 2px;
}

.linkedin-container:hover .line-linkedin::after {
	opacity: 1;
}

.linkedin-container {
	position: relative;
	width: 100px;
	top: 110px;
	left: 125px;
}

.linkedin-container p {
	transition: font-weight 0.3s;
}

.linkedin-container p:hover {
	font-weight: bold;
	text-decoration: underline;
}

.linkedin {
	position: relative;
	width: 80px;
	font-size: 16px;
	left: 10px;
}

.line-linkedin {
	border-top: 1px solid #000;
	width: 50px;
	position: relative;
	transform: rotate(45deg);
	left: 3px;
}

.line-linkedin::after {
	content: '';
	position: absolute;
	top: -6px;
	left: 40px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid #000;
	transition: border-left 0.3s;
	opacity: 0;
}


.about-desc {
	margin: 20px;
	position: relative;
	top: 130px;
}

/* research section*/

.dot-nav-research {
	width: 8px;
	height: 8px;
	background-color: black;
	border-radius: 50%;
	position: relative;
	top: -13px;
	left: 175px;
}

/*accordion: used this tutorial
--> https://dev.to/rajatamil/create-a-simple-accordion-menu-using-vanilla-javascript-2n90*/

.research-accordion {
	max-width: 90%;
	margin: 0 auto;
	position: relative;
	top: 130px;
}

.accordion-item {
	border-top: 2px solid #A3CBDA;
	border-bottom: none;
}

.accordion-item:last-child {
	border-bottom: 2px solid #A3CBDA;
}

.accordion-item.expanded {
	border-bottom: 2px solid #000;
}

.accordion-header {
	display: flex;
	flex-direction: row-reverse;
	cursor: pointer;
}

.accordion-title {
	flex: 1;
	font-size: 28px;
	font-weight: 700;
	margin: 10px;
	margin-left: 10px;
	cursor: pointer;
	border-bottom: 1px solid transparent;
}

.accordion-item.expanded .accordion-title {
	border-bottom: 2px solid black;
}

.accordion-item.expanded .accordion-content {
	border-top: 1px solid transparent;
}

.accordion-item.expanded {
	border-top: none;
	border-bottom: none;
}

.arrow-up {
	width: 6%;
	height: 6%;
	position: relative;
	top: 14px;
	transform: rotate(-48deg);
	transition: transform 0.3s;
}

.rotated {
	transform: rotate(45deg);
}

.accordion-content {
	padding: 5px;
	display: none;
	background-color: white;
}

/* research carousel: used a mixture of reddit, youtube, and chatgpt to build/troubleshoot
I asked chatgpt: "How can I make a simple carousel using vanilla javascript?*/

.areas-research-carousel {
	width: 100%;
	max-width: 600px;
	margin: auto;
	overflow: hidden;

}

#research-slide-container {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.research-slide {
	flex: 0 0 100%;
	padding: 10px;
	background-color: white;
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out;
}

.research-slide h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: transparent;
	border: 2px solid #68BDDC;
	width: 230px;
	height: 230px;
	border-radius: 50%;
	position: relative;
	left: 40px;
	font-size: 25px;
}


.research-slide.active {
	opacity: 1;
}

.research-slide .content {
	display: none;
}

.research-slide.active .content {
	display: block;
}

.bold-style {
	font-weight: bold;
}

button {
	position: absolute;
	top: 13%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 60px;
}

#prev {
	left: -6px;
}

#next {
	right: -6px;
}

.carousel-ol {
	list-style: none;
	padding: 10px;
	font-size: 16px;
}

.content {
	padding: 10px;
}

.content h3 {
	width: 220px;
}

.content p {
	padding: 10px;
	font-size: 16px;
}

.papers-subsection {
	font-size: 16px;
}

.number-icons {
	list-style: none;
	padding-left: 15px;
}

.number-icons li {
	counter-increment: my-counter;
	margin-bottom: 20px;
	position: relative;
	margin-left: 20px;
}

.number-icons li::before {
	content: counter(my-counter);
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background-color: #E2EEF3;
	border-radius: 50%;
	margin-right: 10px;
	left: -30px;
	top: 10px;
}


/* not research section*/
.dot-nav-not-research {
	width: 8px;
	height: 8px;
	background-color: black;
	border-radius: 50%;
	position: relative;
	top: -13px;
	left: 280px;
}

.cocktail-title {
	font-size: 25px;
	font-weight: 700;
	font-family: 'space grotesk';
	position: relative;
	top: 100px;
	left: 8px;
	width: 300px;
}

.cocktails-underline {
	border-top: 2px solid #000;
	width: 348px;
	position: relative;
	top: 74px;
	left: 8px;
}

.cocktails-paragraph {
	margin: 10px;
	font-size: 16px;
	position: relative;
	top: 90px;
}

.cocktail-1 {
	width: 80%;
	margin-top: 60px;
	position: relative;
	top: 80px;
	left: 35px;
}

.cocktail-2 {
	width: 80%;
	margin-left: 35px;
	position: relative;
	top: 120px;
}

.travel-title {
	font-size: 25px;
	font-weight: 700;
	font-family: 'space grotesk';
	position: relative;
	top: 90px;
	left: 8px;
	width: 300px;
}

.travel-underline {
	border-top: 2px solid #000;
	width: 348px;
	position: relative;
	top: 10px;
	left: 8px;
}

.travel-paragraph {
	position: relative;
	top: 90px;
	margin: 10px;
	width: 320px;
	font-size: 16px;
}

.not-research-travel-wrapper {
	position: relative;
	max-width: 70%;
	overflow: hidden;
	left: 50px;
	top: 85px;


}

.not-research-travel-pics {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.travel-pic {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.prev-btn-travel,
.next-btn-travel {
	position: relative;
	top: -80px;
	transform: translateY(-50%);
	color: black;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	padding: 10px;
	z-index: 2;
	font-size: 60px;
}

.next-btn-travel {
	right: -280px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	.blue-box {
		width: 768px;
		height: 120px;
	}


	.jon-headshot-nav {
		width: 15%;
		left: 10px;
	}

	.nav-jonathan {
		left: -20px;
		top: -20px;
	}


	.nav-bar-text {
		width: 520px;
		left: 160px;
		top: -110px;

	}

	.nav-bar-text li {
		font-size: 24px;
		width: 80%;
	}

	.line-nav {

		width: 530px;
		position: relative;
		left: 220px;
		top: -50px;

	}

	.dot-nav-about {
		width: 10px;
		height: 10px;
		left: 275px;
		top: -55px;
	}

	.jon-headshot-links {
		top: 160px;
	}

	.external-links {
		max-width: 700px;
	}

	.all-links {
		left: -400px;
	}

	.resume-container {
		top: -320px;
		left: -110px;
	}

	.short-resume {
		font-size: 24px;
		width: 200px;
		top: -90px;
		left: -70px;
	}

	.line-resume {
		width: 70px;
	}

	.cv-container {
		top: -300px;
		left: 216px;
	}

	.long-cv {
		font-size: 24px;
		width: 120px;
		top: -26px;
	}

	.line-cv {
		width: 70px;
	}

	.line-cv::after {
		left: 60px;
	}

	.github-container {
		top: 180px;
		left: -100px;
	}

	.github {
		font-size: 24px;
	}

	.line-github {
		width: 70px;
	}


	.linkedin-container {
		top: 270px;
		left: 185px;
	}

	.linkedin {
		font-size: 24px;
	}

	.line-linkedin {
		width: 70px;
	}

	.line-linkedin::after {
		left: 60px;
	}

	.about-desc {
		font-size: 24px;
	}

	/*research section accordion */

	.dot-nav-research {
		width: 10px;
		height: 10px;
		left: 435px;
		top: -55px;
	}

	.research-accordion {
		max-width: 90%;
		top: 180px;
	}

	.accordion-title {
		font-size: 30px;
	}

	.arrow-up {
		width: 3%;
		height: 3%;
		top: 15px;
	}

	/* research carousel */

	.research-slide h2 {
		left: 170px;
		width: 250px;
		height: 250px;
		font-size: 26px;
	}

	button {
		top: 13%;
		font-size: 140px;
	}

	#prev {
		left: 40px;
	}

	#next {
		right: 40px;
	}

	.content p {
		font-size: 24px;
	}

	.content-ol {
		font-size: 24px;
	}

	.content h3 {
		width: 600px;
		font-size: 24px;
	}

	.papers-subsection {
		font-size: 24px;
	}

	.number-icons li {
		font-size: 24px;
		margin-left: 25px;
	}

	.number-icons li::before {
		width: 30px;
		height: 30px;
		line-height: 30px;
		left: -40px;
	}


	/*not research section */
	.dot-nav-not-research {
		width: 10px;
		height: 10px;
		top: -56px;
		left: 600px;
	}

	.cocktail-title {
		font-size: 30px;
		margin-left: 20px;
		top: 140px;
		width: 300px;
	}

	.cocktails-underline {
		width: 80px;
		transform: rotate(90deg);
		top: 90px;
		left: 150px;
	}

	.cocktails-paragraph {
		margin: 10px;
		width: 450px;
		height: 200px;
		font-size: 24px;
		left: 210px;
		top: 30px;
	}

	.cocktail-1 {
		width: 37%;
		position: relative;
		top: -50px;
		margin: 20px;
		left: 50px;
	}

	.cocktail-2 {
		width: 40%;
		position: relative;
		top: -50px;
		margin: 20px;
		left: 30px;
	}

	.travel-title {
		font-size: 30px;
		font-style: bold;
		margin-left: 20px;
		position: relative;
		top: -10px;
		width: 300px;
	}

	.travel-underline {
		width: 80px;
		transform: rotate(90deg);
		top: -140px;
		left: 120px;
	}

	.travel-paragraph {
		width: 500px;
		font-size: 24px;
		top: -100px;
		left: 180px;
		margin: 10px;
	}

	.not-research-travel-wrapper {
		left: 160px;
		top: 20px;
		max-width: 60%;
	}

	.prev-btn-travel,
	.next-btn-travel {
		font-size: 140px;
		top: -300px;

	}

	.prev-btn-travel {
		left: 10px;
	}

	.next-btn-travel {
		right: -610px;
	}

}

@media screen and (min-width: 1023px) {

	.blue-box {
		width: 250px;
		height: 1320px;
	}


	.jon-headshot-nav {
		width: 80%;
		left: 10px;
		top: 20px;
	}

	.nav-jonathan {
		left: 20px;
		top: -10px;
	}


	.nav-bar-text {
		width: 300px;
		left: -1px;
		top: 80px;
		flex-direction: column;
	}

	.nav-bar-text li {
		font-size: 26px;
		width: 80%;
		padding-bottom: 50px;
		text-align: left;
	}

	.line-nav {
		width: 250px;
		position: relative;
		left: -95px;
		top: 220px;
		transform: rotate(90deg);
	}

	.dot-nav-about {
		width: 12px;
		height: 12px;
		left: 25px;
		top: 120px;
	}


	.jon-headshot-links {
		left: 300px;
	}

	.external-links {
		max-width: 900px;
	}

	.resume-container {
		top: -430px;
		left: -160px;
	}

	.short-resume {
		font-size: 26px;
		width: 300px;
		top: -100px;
		left: -80px;
	}

	.line-resume {
		width: 80px;
	}

	.cv-container {
		top: -395px;
		left: 210px;
	}

	.long-cv {
		font-size: 26px;
		width: 300px;
		top: -40px;
	}

	.line-cv {
		width: 80px;
	}

	.line-cv::after {
		top: -6px;
		left: 78px;
	}

	.github-container {
		top: 210px;
		left: -160px;
	}

	.github {
		font-size: 26px;
	}

	.line-github {
		width: 80px;
	}

	.linkedin-container {
		top: 290px;
		left: 195px;
	}

	.linkedin {
		font-size: 26px;
	}

	.line-linkedin {
		width: 80px;
	}

	.line-linkedin::after {
		top: -6px;
		left: 80px;
	}

	.about-desc {
		position: relative;
		top: 100px;
		left: 300px;
		font-size: 26px;
		max-width: 900px;
		margin: 10px 10px 30px 10px;
	}

	/*research section */

	.dot-nav-research {
		width: 12px;
		height: 12px;
		left: 25px;
		top: 200px;
	}

	/*accordion */

	.research-accordion {
		max-width: 60%;
		left: 110px;
		top: 80px;
	}

	.accordion-title {
		font-size: 34px;
		margin-left: 20px;
	}

	.arrow-up {
		width: 3%;
		height: 3%;
		top: 25px;
	}

	/* Research carousel */
	.research-slide h2 {
		left: 150px;
		width: 300px;
		height: 300px;
		font-size: 30px;
	}


	.content p {
		font-size: 26px;
		width: 600px;
	}

	.content ol {
		font-size: 26px;
	}

	.content h3 {
		width: 600px;
		font-size: 26px;

	}

	.papers-subsection {
		font-size: 26px;
	}



	button {

		top: 12%;
		font-size: 150px;
	}

	#prev {
		left: 140px;
	}

	#next {
		right: 140px;
	}

	.number-icons li {
		font-size: 26px;
		margin-left: 50px;
	}

	.number-icons li::before {
		width: 40px;
		height: 40px;
		line-height: 40px;
		left: -53px;
	}

	/*not research section */

	.dot-nav-not-research {
		width: 12px;
		height: 12px;
		top: 285px;
		left: 24px;
	}

	.not-research-cocktails {
		position: relative;
		top: -20px;
		left: 250px;
	}

	.cocktail-title {
		font-size: 34px;
		margin-left: 100px;
		top: 60px;

	}

	.cocktails-underline {
		width: 80px;
		transform: rotate(90deg);
		top: 10px;
		left: 240px;
	}

	.cocktails-paragraph {
		margin: 10px;
		width: 550px;
		height: 200px;
		font-size: 26px;
		left: 290px;
		top: -50px;
	}

	.cocktail-1 {
		width: 32%;
		top: -100px;
		margin: 20px;
		left: 70px;
	}

	.cocktail-2 {
		width: 35%;
		top: -100px;
		margin: 20px;
		left: 50px;
	}


	.travel-title {
		font-size: 30px;
		font-style: bold;
		margin-left: 100px;
		position: relative;
		top: -70px;
		left: 290px;
	}

	.travel-underline {
		width: 80px;
		transform: rotate(90deg);
		top: -200px;
		left: 450px;
	}

	.travel-paragraph {
		width: 550px;
		font-size: 26px;
		top: -150px;
		left: 500px;
		margin: 10px;
	}


	.not-research-travel-wrapper {
		max-width: 35%;
		left: 600px;
		top: -100px;
	}

	.prev-btn-travel,
	.next-btn-travel {
		font-size: 150px;
		top: -400px;

	}

	.prev-btn-travel {
		left: 450px;
		z-index: 2;
	}

	.next-btn-travel {
		right: -1095px;
	}

}
